@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Inter", sans-serif;
}

a {
  color: #28352f;
  text-decoration: none;
}

.background-stripe {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
}

.header ul {
  display: none;
}

.welcome {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.headline {
  text-align: center;
  background-image: url("assets/images/bg-stripes.png");
  background-position: center;
  background-repeat: no-repeat;
}

.introduction {
  font-size: 40px;
  line-height: 52px;
  font-weight: 500;
  margin: 0 10px 60px 10px;
  padding-top: 60px;
  color: #172b4d;
}

.introduction span {
  color: #36b37e;
}

.support-text {
  margin: 0 10px 40px 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.social-links li {
  display: inline-block;
  margin-right: 15px;
}

.social-links {
  margin-bottom: 50px;
}

.down-arrow {
  text-align: center;
}

.des1 {
  position: absolute;
  right: 0;
}

.des2 {
  position: absolute;
  left: 10px;
  top: 200px;
}

.des3 {
  position: absolute;
  right: 0;
  top: 250px;
}

.des4 {
  position: absolute;
  left: 0;
  top: 310px;
}

.des5 {
  position: absolute;
  right: 0;
  top: 630px;
}

.design-images {
  position: relative;
  width: 100vw;
}

.design-images2 {
  display: none;
}

.design-images3 {
  display: none;
}

.illus1 {
  position: absolute;
  right: 0;
  top: -40px;
}

.illus2 {
  position: absolute;
  left: 0;
  top: 270px;
}

.work {
  margin-top: 15px;
  text-align: center;
}

.work h2 {
  transition: 2s ease-in-out;
}

.work:hover {
  color: #008552;
  font-size: 30px;
}

.grid-container {
  width: 90vw;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.card {
  background: #ebf0ee;
  border-radius: 8px;
  background-image: url(assets/images/placeholder.png) cover no-repeat;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 0;
}

.card-items {
  background: #fff;
  border-radius: 8px;
  position: relative;
  height: fit-content;
  width: 100%;
  padding: 10px;
  border: 1px solid #d0d9d4;
}

.card-items h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
}

.card-items ul {
  list-style: none;
  font-size: 15px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.card-items ul li {
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
  margin-left: 5px;
}

.card-items button {
  margin-top: 15px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  border: 0;
  color: #fff;
}

.about {
  text-align: center;
  padding-top: 50px;
}

.about h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 20px;
}

.about p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  padding: 15px;
}

.about button {
  margin-top: 15px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  border: 0;
  color: #fff;
}

.skills {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
}

.skill-card {
  background: #ebf0ee;
  border-radius: 8px;
  background-image: url(assets/images/placeholder.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
}

.skill-items img {
  margin: 0 auto;
}

.skill-items h3 {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
  margin-top: 15px;
}

.skill-items ul {
  list-style: none;
  font-size: 15px;
  padding: 20px 0;
  gap: 10px;
  color: #36b37e;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.skill-items ul li {
  padding: 12px;
  background: #fff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  padding: 0 15px;
  color: #172b4d;
  margin-bottom: 40px;
}

input,
textarea {
  width: 90vw;
  padding: 12px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

input {
  height: 50px;
  color: #6b778c;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

textarea {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #091e42;
}

input:focus,
textarea:focus {
  border: 1px solid #60c095;
  border-radius: 4px;
  color: #091e42;
  outline: none;
}

.form-action {
  text-align: center;
}

.form-action button {
  margin-top: 15px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  border: 0;
  color: #fff;
  width: fit-content;
}

.footer {
  text-align: center;
  margin-top: 50px;
}

.footer-links {
  margin-top: -20px;
}

.footer p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin-top: -20px;
  margin-bottom: 260px;
}

.shape {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.illus3 {
  position: absolute;
  right: 0;
  top: -120px;
}

button:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
  cursor: pointer;
}

button:focus {
  background: #008552;
  border-radius: 4px;
}

.line {
  display: none;
}

@media (min-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .header {
    display: flex;
    justify-content: center;
  }

  .header ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
  }

  .header a,
  .hamburger {
    display: none;
  }

  .design-container {
    display: none;
  }

  .contain {
    background-image: url(assets/images/all.svg);
    background-position: center;
    height: 900px;
  }

  .headline {
    background-image: url();
  }

  .background-stripe {
    display: initial;
    width: 90vw;
    margin-left: 5vw;
    position: absolute;
  }

  .introduction {
    margin-top: 20px;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
  }

  .introduction h2 {
    margin-top: 10px;
  }

  .support-text {
    width: 50vw;
    margin: 0 auto;
    margin-top: -40px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    color: #172b4d;
  }

  .social-links {
    margin-top: 30px;
  }

  .work {
    margin-top: 70px;
    text-align: center;
  }

  .work img {
    display: none;
  }

  .grid-container {
    width: 90vw;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }

  .card-items h5 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  .about h2 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .about p {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: #42526e;
  }

  .design-images {
    display: none;
  }

  .design-images2 {
    display: initial;
    position: relative;
  }

  .about1 {
    position: absolute;
    right: -50vw;
    top: -60px;
  }

  .about2 {
    position: absolute;
    left: -50vw;
    top: 80px;
  }

  .skill-card {
    height: 400px;
  }

  .skill-card img {
    margin-top: 50px;
  }

  .skill-items ul {
    width: 80%;
    margin: 0 auto;
  }

  .skill-items ul li {
    padding: 12px;
    background: #fff;
    border-radius: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  .contact {
    width: 90vw;
    margin-left: 5vw;
  }

  .contact h2 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
    width: 80vw;
    text-align: left;
  }

  .contact-form {
    display: flex;
    align-items: flex-start;
  }

  input {
    width: 60vw;
    height: 40px;
  }

  textarea {
    width: 60vw;
    height: 100px;
  }

  .form-action button {
    display: block;
    margin-left: 10px;
    margin-bottom: 100px;
  }

  .shape {
    display: none;
  }

  .footer p {
    margin-bottom: 0;
    display: none;
  }

  .design-images3 {
    display: initial;
    position: relative;
    width: 100vw;
  }

  .foot1 {
    position: absolute;
    left: 15%;
    bottom: -40px;
  }

  .foot2 {
    position: absolute;
    left: 80%;
    bottom: -120px;
  }

  .foot3 {
    position: absolute;
    left: -5%;
    bottom: -120px;
  }

  hr {
    margin-top: 100px;
    position: relative;
    bottom: 30px;
    width: 100vw;
    margin-left: -70px;
  }
}
