* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter" Arial, Helvetica, sans-serif;
}

a {
  color: #28352f;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
}

.welcome {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.headline {
  text-align: center;
  background-image: url("assets/images/bg-stripes.png");
}

.introduction {
  font-size: 40px;
  line-height: 52px;
  margin: 0px 10px 60px 10px;
  padding-top: 60px;
}

.introduction span {
  color: #36b37e;
}

.support-text {
  margin: 0 10px 40px 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.social-links li {
  display: inline-block;
  margin-right: 15px;
}

.social-links {
  margin-bottom: 50px;
}

.down-arrow {
  text-align: center;
}

.des1 {
  position: absolute;
  right: 0px;
}

.des2 {
  position: absolute;
  left: 10px;
  top: 200px;
}

.des3 {
  position: absolute;
  right: 0px;
  top: 250px;
}

.des4 {
  position: absolute;
  left: 0px;
  top: 310px;
}

.des5 {
  position: absolute;
  right: 0px;
  top: 660px;
}
